<!--
  ~ GW2AddOnManager
  ~ Copyright (C) 2024 Leon Linhart
  ~
  ~ This program is free software: you can redistribute it and/or modify it under
  ~ the terms of version 3 of the GNU Lesser General Public License as published
  ~ by the Free Software Foundation.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this program. If not, see <https://www.gnu.org/licenses/>.
  -->
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" name="GW2AddOnManager">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT" />
    <RollingFile name="json-file" fileName="${sys:logsDirectory}/app.log" filePattern="${sys:logsDirectory}/app-%d{MM-dd-yyyy}.log.gz">
      <JsonLayout compact="true" eventEol="true" properties="true" stacktraceAsString="true" includeTimeMillis="true" />
      <SizeBasedTriggeringPolicy size="10 MB" />
      <DefaultRolloverStrategy max="10" />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="Console" />
      <AppenderRef ref="json-file" level="TRACE" />
    </Root>
  </Loggers>
</Configuration>