<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:heat="http://wixtoolset.org/schemas/v4/wxs/heat"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
>
  <Package Compressed="yes"
           Language="1033"
           Manufacturer="GW2ToolBelt"
           Name="Guild Wars 2 Add-on Manager"
           UpgradeCode="7fecdc03-0d92-4710-9911-3483fe19e1eb"
           Version="$(var.MS_VERSION)"
  >
    <MediaTemplate EmbedCab="yes" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit." />

    <Feature Id="Application" Title="Installer" Level="1">
      <ComponentRef Id="Main" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentGroupRef Id="HarvestedLibsComponents" />
      <ComponentGroupRef Id="HarvestedLoaderComponents" />
      <ComponentGroupRef Id="HarvestedRuntimeComponents" />
    </Feature>

    <DirectoryRef Id="INSTALL_DIRECTORY">
      <Component Id="Main" Bitness="always64">
        <File Id="LauncherExe" KeyPath="yes" Source="../build/tmp/bundle/GW2AddOnManager.exe" />
        <File Id="LauncherConfig" Source="../build/tmp/bundle/config.toml" />
        <File Id="LauncherJar" Source="../build/tmp/bundle/app.jar" />
        <File Id="SBOM" Source="../build/tmp/bundle/bom.json" />
        <File Id="InstalledMarker" Source=".installed" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Guild Wars 2 Add-on Manager"
                  Description="Launches the Guild Wars 2 Add-on Manager"
                  Target="[INSTALL_DIRECTORY]GW2AddOnManager.exe"
                  WorkingDirectory="INSTALL_DIRECTORY" />

        <RemoveFolder Id="CleanUpShortcut" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Guild Wars 2 Add-on Manager" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALL_DIRECTORY" />

    <Icon Id="icon.ico" SourceFile="..\icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <WixVariable Id="WixUIBannerBmp" Value="banner.png" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.png" />

    <UI>
      <ui:WixUI Id="WixUI_InstallDir_Custom" />
    </UI>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALL_DIRECTORY" Name="GW2AddOnManager">
        <Directory Id="LibsDirectory" Name="libs" />
        <Directory Id="LoaderDirectory" Name="loader" />
        <Directory Id="RuntimeDirectory" Name="runtime" />
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="GW2AddOnManager" />
    </StandardDirectory>

    <CustomAction Id="EXECUTE_AFTER_FINALIZE"
                  Execute="immediate"
                  Impersonate="no"
                  Return="asyncNoWait"
                  FileRef="LauncherExe"
                  ExeCommand="" />

    <InstallExecuteSequence>
        <Custom Action="EXECUTE_AFTER_FINALIZE" After="InstallFinalize" Condition="NOT Installed" />
    </InstallExecuteSequence>
  </Package>
</Wix>
